// Clearfix
%clearfix:after {
  display:block;
  clear:both;
  content:'';
}

// Variables
$gutter:3%;
$div_percent: 12, 6, 4, 3, 2.4, 2, 1.714285714285714, 1.5, 1.333333333333333, 1.2, 1.090909090909091, 1;

// Grid system base
.row {

  @extend %clearfix;

  & + & {
    margin-top:1%;
  }
           }

[class^="col-"]{

  float:left;
  margin-right: $gutter;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;

  &:last-child{
    margin-right:0;
  }

}

// Grid system computation
@function grid_calc($col_num,$div_percent,$type,$remove_gutter:0%){
   @if($type == "column"){
     @return (100% / $div_percent) - ($gutter * (12-$col_num) /12)
   }@else if ($type == "offset"){
     @return (100% / $div_percent) - ($gutter * (12-$col_num) /12) +($gutter - $remove_gutter)
   }
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width:  grid_calc($i,nth($div_percent,$i),"column");
  }
}

@for $i from 1 through 12 {
  @if(nth($div_percent,$i) == 1){
    .offset-#{$i} {
      margin-left:  grid_calc($i,nth($div_percent,$i),"offset",3);
    }
  }@else{
    .offset-#{$i} {
      margin-left:  grid_calc($i,nth($div_percent,$i),"offset");
    }
  }
}
