// Clearfix
%clearfix:after {
  display:block;
  clear:both;
  content:'';
}

// Variables
$gutter:3%;
$col-total:12;

// Grid system base
.container {
  max-width: 80%;
  margin: 0 auto;
}

.row {

  @extend %clearfix;
  & + & {
    margin-top:1%;
  }
}

[class^="col-"]{

  float:left;
  margin-right: $gutter;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;

  &:last-child{
    margin-right:0;
  }
  @media screen and (max-width: 768px) {

      display: block;
      clear: both;
  }

}

// Grid system computation
@function grid_calc($col_num,$div_percent,$type,$remove_gutter:0%){
   @if($type == "column"){
     @return (100% / $div_percent) - ($gutter * ($col-total - $col_num) /$col-total)
   }@else if ($type == "offset"){
     @return (100% / $div_percent) - ($gutter * ($col-total - $col_num) /$col-total) +($gutter - $remove_gutter)
   }
}

@for $i from 1 through $col-total {
  .col-#{$i} {
    width:  grid_calc($i,$col-total/$i,"column");
  }
}

@for $i from 1 through $col-total {
  @if($col-total/$i == 1){
    .offset-#{$i} {
      margin-left:  grid_calc($i,$col-total/$i,"offset",$gutter);
    }
  }@else{
    .offset-#{$i} {
      margin-left:  grid_calc($i,$col-total/$i,"offset");
    }
  }
}

@media screen and (max-width: 768px) {
  [class*="offset-"] {
      margin-left: 0;
    }
  }


